<!-- SLIDE SHOW BEGIN   -->
<%= render 'home/slideshow' %>
<!-- SLIDE SHOW END   -->
<div class="main_content_container1">
  <div class="main_content_inner_container1">
    <div class="main_content_inner_container1_column1">
      <p style="color:#828288;font-size: 30px;">Film Builder</p>
      <br />
      <div><span style="color:#828288;font-size: 25px;">
        Produce your film from hom, or a coffee shop.
        <br><br>
       </span>
      </div>

    </div>
    <div class="main_content_inner_container1_column2">
      <div class="container1_column2_actions" style="font-size: 40px;text-align:right;margin-top: 50px;">
        <%= link_to "Find Actors" %>
      </div>
      <div class="container1_column2_content1"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Find a DP", posts_path %>
      </div>
      <div class="container1_column2_content2"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Find a Producer" %>
      </div>
      <div class="container1_column2_content3"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Find Craft Service" %>
      </div>
      <div class="container1_column2_content3"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Find a Director", friendships_path %>
      </div>
      <div class="container1_column2_content3"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Find a Grip" %>
      </div>
      <div class="container1_column2_content3"style="font-size: 40px;text-align:right;margin-top: 20px;">
        <%= link_to "Find a Gaffer" %>
      </div>
    </div>
    <div class="join_button2_container">
      <div class="join_button2">
        <button class= "btn-large btn-primary"><%= link_to "CREATE YOUR FREE ACCOUNT", new_user_registration_path, class: "join" %></button>
      </div>
    </div>
  </div>
</div>








